<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Holdem</title>
  <base href="http://holdem-web-holdem-web.4b63.pro-ap-southeast-2.openshiftapps.com/index.html">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
<link rel="text/css" href="https://rawgit.com/theklayd/holdem/master/views/styles.f0173ab7e487b889dc0b.css"></head>
<body>
  <app-root></app-root>
<script type="javascript" src="https://rawgit.com/theklayd/holdem/master/views/runtime.a66f828dca56eeb90e02.js"></script>
<script type="javascript" src="https://rawgit.com/theklayd/holdem/master/views/polyfills.e3633a42d1123afc5fc9.js"></script>
<script type="javascript" src="https://rawgit.com/theklayd/holdem/master/views/main.62b4800ed9eca5491154.js"></script></body>
</html>
